header {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.background-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0 !important;
}

.content-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  padding: 3rem;
}

.profile-text-container-header {
  display: flex;
  align-items: center;
  gap: 2rem; /* Space between profile pic and caption */
  margin-bottom: 10rem;
  width: 100%; /* Add fixed width */
  max-width: 1200px; /* Prevent it from getting too wide */
  margin-left: 9rem;
}

.caption {
  flex: 1;
}

.profile-pic-header {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 0 120px rgba(0, 0, 0, 0.5);
}

.caption p {
  margin-left: 22vw;
  margin-top: 18rem;
  margin-bottom: 15rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 1.5px 10px rgba(0, 0, 0, 10);
}

/* .videographer-text {
  margin-left: 1rem;
} */


@media (max-width: 1000px) {
  .caption p {
    margin-left: 5vw;
  }

  .profile-pic-header {
    width: 180px;
    height: 180px;
    margin-bottom: 0;
  }
}


/* Mobile Styles */
@media (max-width: 768px) {
  .profile-text-container-header {
    margin-left: 0rem;
  }

.profile-pic-header {
    margin-right: 0rem;
  }

  header {
    height: 100vh;
  }
  
  .profile-text-container-header {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .profile-pic-header {
    width: 120px;
    height: 120px;
    margin-bottom: 0;
  }
  
  .caption p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
  
  .videographer-text {
    margin-left: 0;
    display: block;
    margin-top: 0.5rem;
  }
  
  .content-header {
    padding: 10px;
  }
}

/* Small Mobile Styles */
@media (max-width: 480px) {
  .profile-pic-header {
      margin-right: 0rem;
  }

  .caption p {
    font-size: 1.2rem;
  }
  
  .profile-pic-header {
    width: 100px;
    height: 100px;
  }
  
  .profile-text-container-header {
    gap: 1rem;
  }
}